<h1>Password Generator</h1>
<div>
  <label> Enter Length</label>
  <input (input)="onChangeLength($event)" />
</div>

<div>
  <label>Use Letters</label>
  <input type="checkbox" (change)="onChangeUseLetters()">
</div>

<div>
  <label>Use Numbers</label>
  <input type="checkbox"(change)="onChangeUseNumber()" >
</div>

<div>
  <label>Use Symbols</label>
  <input type="checkbox"(change)="onChangeUseSymbol()">
</div>

<div>
  <button (click)="onButtonClick()"
    >Generate!</button>
</div>

<div>
  <label>Your Password</label>
  <!-- <input [value]="getPassword()"> -->
  <input [value]="password">
</div>
<!-- String Interpolation using property/menthod
{{password}}
{{getName()}} -->
